<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2011 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local simnum = luci.sys.get_simcard_num()
	local qmiinfo = luci.sys.get_all_qmiinfo()
	local simcard = luci.sys.get_simcard()
-%>

<%+header%>

<script type="text/javascript">//<![CDATA[
	function progressbar(v, m)
	{
		var vn = parseInt(v) || 0;
		var mn = parseInt(m) || 100;
		var pc = Math.floor((100 / mn) * vn);

		return String.format(
			'<div style="width:100%%; max-width:200px; position:relative; border:1px solid #999999">' +
				'<div style="background-color:#CCCCCC; width:%d%%; height:15px">' +
					'<div style="position:absolute; left:0; top:0; text-align:center; width:100%%; color:#000000">' +
						'<small>%s / %s (%d%%)</small>' +
					'</div>' +
				'</div>' +
			'</div>', pc, v, m, pc
		);
	}

	function labelList(items, offset) {
		var rv = [ ];

		for (var i = offset || 0; i < items.length; i += 2) {
			var label = items[i],
			    value = items[i+1];

			if (value === undefined || value === null)
				continue;

			if (label)
				rv.push(E('strong', [label, ': ']));

			rv.push(value, E('br'));
		}

		return rv;
	}

	function renderBox(title, active, childs) {
		childs = childs || [];
		childs.unshift(E('span', labelList(arguments, 3)));

		return E('div', { class: 'ifacebox' }, [
			E('div', { class: 'ifacebox-head center ' + (active ? 'active' : '') },
				E('strong', title)),
			E('div', { class: 'ifacebox-body left' }, childs)
		]);
	}

	function renderBadge(icon, title) {
		return E('span', { class: 'ifacebadge' }, [
			E('img', { src: icon, title: title || '' }),
			E('span', labelList(arguments, 2))
		]);
	}

//]]></script>

<h2 name="content"><%:Qmi Info%></h2>

<div class="cbi-section">

	<div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:Device%></div><div class="td left"><%="/dev/cdc-wdm0"%></div></div>
		<% if simcard then %>
			<div class="tr"><div class="td left" width="33%"><%:Sim Card%></div><div class="td left"><%=pcdata(simcard)%></div></div>
		<% end %>
		<div class="tr"><div class="td left" width="33%"><%:Rssi%></div><div class="td left"><%=pcdata(qmiinfo.rssi) or "Unknown"%></div></div>
		<div class="tr"><div class="td left" width="33%"><%:Rsrp%></div><div class="td left"><%=pcdata(qmiinfo.rsrp) or "Unknown"%></div></div>
		<div class="tr"><div class="td left" width="33%"><%:Rsrq%></div><div class="td left"><%=pcdata(qmiinfo.rsrq) or "Unknown"%></div></div>
		<div class="tr"><div class="td left" width="33%"><%:Snr%></div><div class="td left"><%=pcdata(qmiinfo.snr) or "Unknown"%></div></div>
		<div class="tr"><div class="td left" width="33%"><%:IMEI%></div><div class="td left"><%=pcdata(qmiinfo.imei or "Unknown")%></div></div>
		<div class="tr"><div class="td left" width="33%"><%:Tx Rate%></div><div class="td left"><%=pcdata(qmiinfo.txrate or "Unknown")%></div></div>
		<div class="tr"><div class="td left" width="33%"><%:Rx Rate%></div><div class="td left"><%=pcdata(qmiinfo.rxrate or "Unknown")%></div></div>
		<div class="tr"><div class="td left" width="33%"><%:Type%></div><div class="td left"><%=pcdata(qmiinfo.isptype or "Unknown")%></div></div>
	</div>
</div>

<%+footer%>
