<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2011 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<script type="text/javascript">//<![CDATA[
XHR.get('<%=build_url("admin/system/onlineupgrade/checknewversion")%>', null,
	function(x, data) {
		if(data) {
			for (var idx = 0; idx < data.length; idx++){
				var val = data[idx];
				if (val.errcode){
					var e1 = document.getElementById('fwinfo');
					if (e1) {
						e1.style.display="none";
					}
					
					var e2 = document.getElementById('btnupdate');
					if (e2) {
						e2.style.display="none";
					}

					var e5 = document.getElementById('fwerr');
					if (e5) {
						e5.style.display="block";
					}

					if ( val.errcode == 2 ) {
						var ex5 = document.getElementById('errinfo');
						if (ex5) {
							ex5.innerHTML = "Your firmware is newest";
						}
					}
					else {
						var ex5 = document.getElementById('errinfo');
						if (ex5) {
							ex5.innerHTML = "server error";
						}
					}
				}
				
				else {
					var e1 = document.getElementById('fwinfo');
					if (e1) {
						e1.style.display="block";
					}
					
					var e2 = document.getElementById('btnupdate');
					if (e2) {
						e2.style.display="block";
					}

					var e5 = document.getElementById('fwerr');
					if (e5) {
						e5.style.display="none";
					}
					
					var ex1 = document.getElementById('vername');
					if (ex1) {
						ex1.innerHTML = String.format('%s',val.filename);
					}

					var ex2 = document.getElementById('verversion');
					if (ex2) {
						ex2.innerHTML = String.format('%s',val.version);
					}

					var ex3 = document.getElementById('verchecksum');
					if (ex3) {
						ex3.innerHTML = String.format('%s',val.md5sum);
					}

					var ex4 = document.getElementById('versize');
					if (ex4) {
						ex4.innerHTML = String.format('%s',val.size);
					}

				}
				
			}	
		}				
	});
//]]></script>

<style>
* {
  box-sizing: border-box;
}

.index-column {
  float: left;
  width: 100%;
  padding: 0 15px 0 0;
}

.index-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .index-column {
    width: 100%;
  }
}
</style>

<div class="index-row">

<div class="index-column">
<h2 name="content"><%:Online Upgrade%></h2>

<div class="cbi-section">
	<div id="fwinfo" style="display:none;" class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:Firmware Name%></div><div class="td left" id="vername">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Version%></div><div class="td left" id="verversion">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Md5sum%></div><div class="td left" id="verchecksum">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Size%></div><div class="td left" id="versize">-</div></div>
	</div>
	<div id="fwerr" style="display:none;" class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:Error%></div><div class="td left" id="errinfo">-</div></div>
	</div>
	<div class="cbi-page-actions right" id="btnupdate" style="display:none;" >
	<input class="cbi-button cbi-button-prev" type="button" value="<%:Upgrade%>" onclick="location.href=&quot;<%=luci.dispatcher.build_url('admin', 'system','onlineupgrade', 'upgrade')%>&quot;" /    >
	</div>
			<% if image_invalid then %>
				<div class="cbi-section-error"><%:The uploaded image file does not contain a supported format. Make sure that you choose the generic image format for your platform. %></div>
			<% end %>

<%+footer%>
