<%#
 Copyright 2019 Xingwang Liao <kuoruan@gmail.com>
 Licensed to the public under the MIT License.
-%>

<%
local dsp = require "luci.dispatcher"
local sys = require "luci.sys"

local serial = luci.sys.serial_number()
local default_url = "http://" .. serial:lower() .. ".outdoorrouter.net:18080"
-%>

<fieldset class="cbi-section">
	<p class="btn failed" id="frpc_status">
		<em><%:Collecting data...%></em>
	</p>
	<p id="frpc_desc"><%:Cloud address:   %><a href=<%=default_url%> target="_blank"><%=default_url%></a ></p >
</fieldset>

<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=dsp.build_url("admin/services/frpc/status")%>', null,
		function (x, data) {
			if (x.status !== 200 || !data) {
				return;
			}

			var frpcStatusElm = document.getElementById('frpc_status');
			frpcStatusElm.innerHTML = data.running
				? '<%:Running%>'
				: '<%:Not Running%>';
			frpcStatusElm.className = data.running ? "btn success" : "btn failed"
		}
	);
	
	

//]]></script>
